<PageTitle>PDFEdit - Kombinieren</PageTitle>

<section>
	<div class="file-upload">
		<h6>Files</h6>
		<div class="file-list">
			@foreach (var file in fileSources) {
				<FileEntry FileName="@file.Name"></FileEntry>
			}
		</div>
		<label class="file-input" for="file-input">
			<InputFile id="file-input" OnChange="@OnChange" multiple />
			<Icon Href="@Icons.AddFile"></Icon>
		</label>
	</div>
    <div class="input-pages">
        @foreach (var file in fileSources) {
					<DocumentPages Document="@file" />
        }
	</div>
    <div class="ouput-pages">
		
	</div>
</section>