<div class="container">
    <span class="title">@Document.Name</span>
    <div class="pages">
        @for (int i = 0; i < _pageRenders.Count; i++) {
			var index = i;
            <div @onclick="async () => await OnPageAdded.InvokeAsync((Index, index))" class="page">
                <div class="overlay">
                    <Icon Href="@Icons.Plus"/>
                </div>
			    <img src="@_pageRenders[i]">
            </div>
		}
    </div>
    <a class="add-doc" @onclick="async () => await OnDocumentAdded.InvokeAsync(Index)">
        <Icon Href="@Icons.PlusCircle"></Icon>
    </a>
</div>