<Modal @ref="_modal" Title="Seiteneinstellungen">
    <Content>
    </Content>
    <Footer>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-danger" @onclick="async _ => await OnSave()">Speichern</button>
    </Footer>
</Modal>