<div class="top-bar">
	<NavLink href="/" class="title">PDFEdit</NavLink>
	<button class="menu-button">Menu 1</button>
	<button class="menu-button">Menu 2</button>
	<button class="menu-button">Menu 3</button>
	<button class="menu-button">Menu 4</button>
</div>