<div class="top-bar">
    <NavLink href="/" class="title">
        <svg id="logo" viewBox="0 0 341 54" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M114.008 29.92C114.008 27.856 114.392 26.044 115.16 24.484C115.952 22.924 117.02 21.724 118.364 20.884C119.708 20.044 121.208 19.624 122.864 19.624C124.28 19.624 125.516 19.912 126.572 20.488C127.652 21.064 128.48 21.82 129.056 22.756V19.912H135.212V40H129.056V37.156C128.456 38.092 127.616 38.848 126.536 39.424C125.48 40 124.244 40.288 122.828 40.288C121.196 40.288 119.708 39.868 118.364 39.028C117.02 38.164 115.952 36.952 115.16 35.392C114.392 33.808 114.008 31.984 114.008 29.92ZM129.056 29.956C129.056 28.42 128.624 27.208 127.76 26.32C126.92 25.432 125.888 24.988 124.664 24.988C123.44 24.988 122.396 25.432 121.532 26.32C120.692 27.184 120.272 28.384 120.272 29.92C120.272 31.456 120.692 32.68 121.532 33.592C122.396 34.48 123.44 34.924 124.664 34.924C125.888 34.924 126.92 34.48 127.76 33.592C128.624 32.704 129.056 31.492 129.056 29.956Z" fill="white" />
            <path d="M146.362 22.756C146.962 21.82 147.79 21.064 148.846 20.488C149.902 19.912 151.138 19.624 152.554 19.624C154.21 19.624 155.71 20.044 157.054 20.884C158.398 21.724 159.454 22.924 160.222 24.484C161.014 26.044 161.41 27.856 161.41 29.92C161.41 31.984 161.014 33.808 160.222 35.392C159.454 36.952 158.398 38.164 157.054 39.028C155.71 39.868 154.21 40.288 152.554 40.288C151.162 40.288 149.926 40 148.846 39.424C147.79 38.848 146.962 38.104 146.362 37.192V49.576H140.206V19.912H146.362V22.756ZM155.146 29.92C155.146 28.384 154.714 27.184 153.85 26.32C153.01 25.432 151.966 24.988 150.718 24.988C149.494 24.988 148.45 25.432 147.586 26.32C146.746 27.208 146.326 28.42 146.326 29.956C146.326 31.492 146.746 32.704 147.586 33.592C148.45 34.48 149.494 34.924 150.718 34.924C151.942 34.924 152.986 34.48 153.85 33.592C154.714 32.68 155.146 31.456 155.146 29.92Z" fill="white" />
            <path d="M171.335 13.36V40H165.179V13.36H171.335Z" fill="white" />
            <path d="M182.492 19.912V40H176.336V19.912H182.492Z" fill="white" />
            <path d="M199.374 40L195.522 34.42L192.282 40H185.622L192.246 29.74L185.442 19.912H192.354L196.206 25.456L199.446 19.912H206.106L199.374 30.028L206.286 40H199.374Z" fill="white" />
            <path d="M207.974 29.92C207.974 27.856 208.358 26.044 209.126 24.484C209.918 22.924 210.986 21.724 212.33 20.884C213.674 20.044 215.174 19.624 216.83 19.624C218.246 19.624 219.482 19.912 220.538 20.488C221.618 21.064 222.446 21.82 223.022 22.756V19.912H229.178V40H223.022V37.156C222.422 38.092 221.582 38.848 220.502 39.424C219.446 40 218.21 40.288 216.794 40.288C215.162 40.288 213.674 39.868 212.33 39.028C210.986 38.164 209.918 36.952 209.126 35.392C208.358 33.808 207.974 31.984 207.974 29.92ZM223.022 29.956C223.022 28.42 222.59 27.208 221.726 26.32C220.886 25.432 219.854 24.988 218.63 24.988C217.406 24.988 216.362 25.432 215.498 26.32C214.658 27.184 214.238 28.384 214.238 29.92C214.238 31.456 214.658 32.68 215.498 33.592C216.362 34.48 217.406 34.924 218.63 34.924C219.854 34.924 220.886 34.48 221.726 33.592C222.59 32.704 223.022 31.492 223.022 29.956Z" fill="white" />
            <path d="M260.52 14.728V19.66H253.824V40H247.668V19.66H240.972V14.728H260.52Z" fill="white" />
            <path d="M273.294 40.288C271.326 40.288 269.55 39.868 267.966 39.028C266.406 38.188 265.17 36.988 264.258 35.428C263.37 33.868 262.926 32.044 262.926 29.956C262.926 27.892 263.382 26.08 264.294 24.52C265.206 22.936 266.454 21.724 268.038 20.884C269.622 20.044 271.398 19.624 273.366 19.624C275.334 19.624 277.11 20.044 278.694 20.884C280.278 21.724 281.526 22.936 282.438 24.52C283.35 26.08 283.806 27.892 283.806 29.956C283.806 32.02 283.338 33.844 282.402 35.428C281.49 36.988 280.23 38.188 278.622 39.028C277.038 39.868 275.262 40.288 273.294 40.288ZM273.294 34.96C274.47 34.96 275.466 34.528 276.282 33.664C277.122 32.8 277.542 31.564 277.542 29.956C277.542 28.348 277.134 27.112 276.318 26.248C275.526 25.384 274.542 24.952 273.366 24.952C272.166 24.952 271.17 25.384 270.378 26.248C269.586 27.088 269.19 28.324 269.19 29.956C269.19 31.564 269.574 32.8 270.342 33.664C271.134 34.528 272.118 34.96 273.294 34.96Z" fill="white" />
            <path d="M296.756 40.288C294.788 40.288 293.012 39.868 291.428 39.028C289.868 38.188 288.632 36.988 287.72 35.428C286.832 33.868 286.388 32.044 286.388 29.956C286.388 27.892 286.844 26.08 287.756 24.52C288.668 22.936 289.916 21.724 291.5 20.884C293.084 20.044 294.86 19.624 296.828 19.624C298.796 19.624 300.572 20.044 302.156 20.884C303.74 21.724 304.988 22.936 305.9 24.52C306.812 26.08 307.268 27.892 307.268 29.956C307.268 32.02 306.8 33.844 305.864 35.428C304.952 36.988 303.692 38.188 302.084 39.028C300.5 39.868 298.724 40.288 296.756 40.288ZM296.756 34.96C297.932 34.96 298.928 34.528 299.744 33.664C300.584 32.8 301.004 31.564 301.004 29.956C301.004 28.348 300.596 27.112 299.78 26.248C298.988 25.384 298.004 24.952 296.828 24.952C295.628 24.952 294.632 25.384 293.84 26.248C293.048 27.088 292.652 28.324 292.652 29.956C292.652 31.564 293.036 32.8 293.804 33.664C294.596 34.528 295.58 34.96 296.756 34.96Z" fill="white" />
            <path d="M317.229 13.36V40H311.073V13.36H317.229Z" fill="white" />
            <path d="M330.403 40.288C328.651 40.288 327.091 39.988 325.723 39.388C324.355 38.788 323.275 37.972 322.483 36.94C321.691 35.884 321.247 34.708 321.151 33.412H327.235C327.307 34.108 327.631 34.672 328.207 35.104C328.783 35.536 329.491 35.752 330.331 35.752C331.099 35.752 331.687 35.608 332.095 35.32C332.527 35.008 332.743 34.612 332.743 34.132C332.743 33.556 332.443 33.136 331.843 32.872C331.243 32.584 330.271 32.272 328.927 31.936C327.487 31.6 326.287 31.252 325.327 30.892C324.367 30.508 323.539 29.92 322.843 29.128C322.147 28.312 321.799 27.22 321.799 25.852C321.799 24.7 322.111 23.656 322.735 22.72C323.383 21.76 324.319 21.004 325.543 20.452C326.791 19.9 328.267 19.624 329.971 19.624C332.491 19.624 334.471 20.248 335.911 21.496C337.375 22.744 338.215 24.4 338.431 26.464H332.743C332.647 25.768 332.335 25.216 331.807 24.808C331.303 24.4 330.631 24.196 329.791 24.196C329.071 24.196 328.519 24.34 328.135 24.628C327.751 24.892 327.559 25.264 327.559 25.744C327.559 26.32 327.859 26.752 328.459 27.04C329.083 27.328 330.043 27.616 331.339 27.904C332.827 28.288 334.039 28.672 334.975 29.056C335.911 29.416 336.727 30.016 337.423 30.856C338.143 31.672 338.515 32.776 338.539 34.168C338.539 35.344 338.203 36.4 337.531 37.336C336.883 38.248 335.935 38.968 334.687 39.496C333.463 40.024 332.035 40.288 330.403 40.288Z" fill="white" />
            <path d="M94.1963 45L72.4417 23.2454L50.6871 45L28.9325 23.2454L7.1227 45L0 37.8773L28.9325 9L50.6871 30.7546L72.4417 9L101.374 37.8773L94.1963 45Z" fill="white" />
        </svg>
    </NavLink>
    <!--
    <div class="icon nav-icon @(_showNavMenu ? "open" : "")" @onclick="ToggleNavMenu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    -->
</div>

<!--
<div class="side-bar @(_showNavMenu ? "open" : "")">
    <NavItem Title="PDFEdit" Href="@Routes.CombineTool" Icon="@Icons.SignMergeRight" OnNavigated="HideNavMenu" />
</div>
Unnecessary, because there is only one Tool at the moment
-->