<div class="top-bar">
	<NavLink href="/" class="title">PDFEdit</NavLink>
    <div class="icon nav-icon @(_showNavMenu ? "open" : "")" @onclick="ToggleNavMenu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="side-bar @(_showNavMenu ? "open" : "")">
    <NavItem Title="Merger" Href="@Routes.CombineTool" Icon="@Icons.SignMergeRight" OnNavigated="HideNavMenu" />
</div>