.container {
    padding: 0rem 2rem 0rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 480px;
}

.preview-image {
    position: relative;
    width: min-content;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.preview-image .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(41, 41, 41, .7);
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: white;
    transition: opacity 500ms ease;
    cursor: grab;
}

.preview-image:hover .overlay {
    opacity: 1;
}

    .preview-image .overlay ::deep svg {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

img {
    max-height: 50vh;
}

.header, .header .options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

    .header .options {
        padding-top: .8rem;
        width: 100%;
        justify-content: space-between;
    }

        .header .options ::deep .loader-container {
            width: 2rem;
            height: 2rem;
        }

        .header .options ::deep .loader {
            font-size: 6px;
        }

        .header .options ::deep svg {
            width: 2rem;
            height: 2rem;
        }

::deep .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 1rem;
    gap: 1rem;
}