@page "/"

<PageTitle>Aplixa Tools - Start</PageTitle>

<section class="header">
	<h1>aplixa Tools</h1>
	<h6>PDFEdit & TMetric Exporter</h6>
</section>

<section class="tools">
	<NavLink class="link" href="@Routes.CombineTool">
		<div class="tool-card">
			<span>PDFEdit</span>
		</div>
	</NavLink>
	<NavLink class="link" href="@Routes.CombineTool">
		<div class="tool-card">
			<span>TMetric Exporter</span>
		</div>
	</NavLink>
	<NavLink class="link" href="@Routes.CombineTool">
		<div class="tool-card">
			<span>Tool 3</span>
		</div>
	</NavLink>
	<NavLink class="link" href="@Routes.CombineTool">
		<div class="tool-card">
			<span>Tool 4</span>
		</div>
	</NavLink>
</section>