@page "/"

<PageTitle>PDFEdit - Start</PageTitle>

<FontSelector FontName="Inter"></FontSelector>

<section class="header">
	<h1>PDFEdit</h1>
	<h6>PDF Tools</h6>
</section>

<section class="tools">
	<NavLink href="@Routes.CombineTool">
		<div class="tool-card">
			<span>Zusammenführen</span>
		</div>
	</NavLink>
	<div class="tool-card">
		<h6>2</h6>
	</div>
	<div class="tool-card">
		<h6>3</h6>
	</div>
	<div class="tool-card">
		<h6>4</h6>
	</div>
</section>