@page "/"

<PageTitle>Aplixa Tools - Start</PageTitle>

<section class="header">
    <object id="logo" data="/assets/banner.svg" type="image/svg+xml"></object>
    <div class="btn-group btn-group-lg mt-5">
        <a href="@Routes.CombineTool" class="btn btn-primary">Open PDFEdit</a>
        <a class="btn btn-outline-primary">GitHub Repo (WIP)</a>
    </div>
</section>