@page "/"

<PageTitle>Aplixa Tools - Start</PageTitle>

<section class="header">
	<h1>aplixa Tools PDFEdit</h1>
    <h6>PDF - But easy</h6>
    <div class="btn-group btn-group-lg mt-5">
        <a href="@Routes.CombineTool" class="btn btn-primary">Open PDFEdit</a>
        <a class="btn btn-outline-primary">GitHub Repo (WIP)</a>
    </div>
</section>