<div>
    <input type="checkbox" class="form-check-label" id="@GetHashCode()" value="_value" @onchange="SetValue" />
    <label class="form-check-label" for="@GetHashCode()">
        @Label
    </label>
</div>
