<div>
    <input type="checkbox" class="form-check-label" id="@this.GetHashCode()" value="_value" @onchange="SetValue" />
    <label class="form-check-label" for="@this.GetHashCode()">
        @Label
    </label>
</div>
