<div class="modal fade" id="modal-@GetHashCode()" data-bs-backdrop='@(Static ? "static" : "")' data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-@GetHashCode()-Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @if (Title is not null || Closeable) {
                <div class="modal-header">
                    @if (Title is not null) {
                        <h1 class="modal-title fs-5" id="modal-@GetHashCode()-Label">@Title</h1>
                    }
                    @if (Closeable) {
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    }
                </div>
            }
            <div class="modal-body">
                @Content
            </div>
            <div class="modal-footer">
                @Footer
            </div>
        </div>
    </div>
</div>
